<%- contentFor('main') %>

          <h1><%= title %></h1>
          <form method="post">
            <div class="form-group">
              <label for="first_name">First Name: </label>
              <input
                type="text"
                id="first_name"
                class="form-control"
                placeholder="First name (Christian)"
                name="first_name"
                required
                value="<%= typeof author !=='undefined' ? author.first_name : '' %>"
              />
              <label for="family_name">Family Name: </label>
              <input
                type="text"
                id="family_name"
                class="form-control"
                placeholder="Family name (Surname)"
                name="family_name"
                required
                value="<%= typeof author !=='undefined' ? author.family_name : '' %>"
              />
            </div>
            <div class="form-group">
              <label for="date_of_birth">Date of birth: </label>
              <input
                type="date"
                id="date_of_birth"
                class="form-control"
                name="date_of_birth"
                placeholder="mm/dd/yyyy"
                value="<%= typeof author !=='undefined' ? author.date_of_birth_yyyy_mm_dd : '' %>"
              />
              <label for="date_of_death">Date of death: </label>
              <input
                type="date"
                id="date_of_death"
                class="form-control"
                name="date_of_death"
                placeholder="mm/dd/yyyy"
                value="<%= typeof author !=='undefined' ? author.date_of_death_yyyy_mm_dd : '' %>"
              />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
          <% if (typeof errors !== 'undefined') { %>
          <ul>
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
          </ul>
          <% } %>
     
