<%- contentFor('main') %>

<h1>
  <%= title %>:
  <%= book.title %>
</h1>
<p>
  <strong>Author: </strong
  ><a href="<%= book.author.url %>"><%= book.author.name %></a>
</p>
<p>
  <strong>Summary: </strong
  ><%= book.summary %>
</p>
<p>
  <strong>ISBN: </strong
  ><%= book.isbn %>
</p>
<p>
  <strong>Genre: </strong> <% book.genre.forEach((val, index) => { %><a
    href="<%= val.url %>"
    ><%= val.name %></a
  ><% if (index < book.genre.length -1) { %>,&nbsp;<% } %><% }) %>
</p>
<hr />
<% if (book_instances.length) { %>
<p>
  <strong
    >Delete the following copies before attempting to delete this Book.</strong
  >
</p>
<div style="margin-left: 20px; margin-top: 20px">
  <h4>Copies</h4>
  <% book_instances.forEach(copy => { %>
  <hr />
  <% if (copy.status=='Available') { %>
  <p class="text-success"><%= copy.status %></p>
  <% } else if (copy.status=='Maintenance') { %>
  <p class="text-danger"><%= copy.status %></p>
  <% } else { %>
  <p class="text-warning"><%= copy.status %></p>
  <% } %>
  <p>
    <strong>Imprint: </strong
    ><%= copy.imprint %>
  </p>
  <% if (copy.status!='Available') { %>
  <p>
    <strong>Due back: </strong
    ><%= copy.due_back_formatted %>
  </p>
  <% } %>
  <p><strong>Id: </strong> <a href="<%= copy.url %>"><%= copy._id %></a></p>
  <% }) %>
</div>
<% } else { %>
<p>Do you really want to delete this Book?</p>
<form method="post">
  <div class="form-group">
    <input
      type="hidden"
      id="bookid"
      class="form-control"
      name="bookid"
      value="<%= book._id %>"
    />
  </div>
  <button class="btn btn-primary" type="submit">Delete</button>
</form>
<% } %>
